body{
    background: #380101;
    font-family: var(--font-estilo);
}

.Formulario-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #ff4141;
    box-shadow: 0 0px 150px #ff4141;
    border-radius: 10px;
}

.Formulario-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}


.Formulario-box .user-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}


.Formulario-box .user-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;

}

.Formulario-box .user-box input:focus~label,
.Formulario-box .user-box input:valid~label{
    top: -85px;
    left: 0;
    color: #080808;
    font-size: 12px;
    
}


#submit{
    padding: 10px 20px;
    color: #cbbddb;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #030303;
    margin: auto;
}

#submit:hover {
    background: #09090a;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #3d0e0e, 0 0 25px #490d0d, 0 0 50px #461010, 0 0 100px #1d1546;

}

.button-form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}

#register {
    font-size: 14px;
    text-decoration: none;
    color: #cbbddb;
    margin: auto;
    width: 60px;
    text-align: center;
}

#register a{
    font-size: 20px;
    margin: auto;
    color: #f8f8f8;
    text-decoration: none;
}
#Cadastre-se {
    font-size: 20px;
    margin: auto;
    color: #f8f8f8;
    text-decoration: none;
}

.check-box{
    font-size: 20px;
    margin: auto;
    color: #f8f8f8;
    text-decoration: none;
}